{% extends "base_email.html.tera" %}
{% block title %}{{ forgot_password_email_subject }}{% endblock title %}
{% block content %}
    <img class="logo" src={{logo_url}} />
    <h1 class="email-title">{{ forgot_password_email_title }}</h1>
    <p class="email-body">{{ forgot_password_email_body1 }}<a href={{link}}>{{ link }}</a> {{ forgot_password_email_body2 }}</p>

{% endblock content %}